@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <a href="@Url.Action("Index", "Teacher")" class="btn btn-primary btn-block">Teacher</a>
        </div>
        <div class="col-md-2">
            <a href="@Url.Action("Index", "Student")" class="btn btn-primary btn-block">Student</a>
        </div>
        <div class="col-md-2">
            <a href="@Url.Action("Index", "Class")" class="btn btn-primary btn-block">Class</a>
        </div>
        <div class="col-md-2">
            <a href="@Url.Action("Index", "Subject")" class="btn btn-primary btn-block">Subject</a>
        </div>
        <div class="col-md-2">
            <a href="@Url.Action("Index", "File")" class="btn btn-primary btn-block">File Detail</a>
        </div>
    </div>
</div>