@using PRN_Final_API.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<Class> classesList = (List<Class>)ViewData["ClassesList"];
}
<h2>Update Subject</h2>

<div class="row">
    <div class="col-md-6">
        <form method="post" action="@Url.Action("Update", "Subject")">
            <input type="hidden" name="SubjectId" value="@ViewBag.Subject.SubjectId" />
            <div class="mb-3">
                <label class="form-label">SubjectName:</label>
                <input type="text" name="SubjectName" class="form-control" value="@ViewBag.Subject.SubjectName" required />
            </div>
            <div class="mb-3">
                <label for="class">Class:</label>
                <select class="form-control" id="ClassId" name="ClassId" required>
                    @foreach (var classS in classesList)
                    {
                        if (classS.ClassId == ViewBag.Subject.ClassId)
                        {
                            <option value="@classS.ClassId" selected>@classS.ClassName</option>
                        }
                        else
                        {
                            <option value="@classS.ClassId">@classS.ClassName</option>
                        }
                    }
                </select>
            </div>
            <div class="text-end">
                <button type="submit" class="btn btn-primary">Update</button>
                <a href="@Url.Action("Index", "Subject")" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@if (ViewBag.Message != null)
{
    <div class="alert alert-danger mt-3">@ViewBag.Message</div>
}